{% extends 'layout.html' %}
{% block additionalscripts %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
{% endblock %}
{% block body %}

<style type="text/css">
#top {
    margin-left:10%;
}
.choose ul{
    margin-left:123px;
    padding: 15px 0px 10px 30px ;
    background:#0099e6;
    color:black;
    display:flex;
    width:1000px;
    font-size:20px;
    border-radius: 20px;
}
.choose ul li {
    list-style: none;
    padding-left:30px;
}
.choose ul li a{
    text-decoration:none;
    color:black;
    padding:20px 98px;
    display:block;
    margin-left:15px;
}
#header{
    font-size:30px;
    color: white;
}
#now{
    margin-left:50px;
    margin-top:5px;
    border-radius: 28px;
    background-color: #ff1a1a;
    color:white;
}
.bar{
    margin-top:8px;
    margin-left:20px;
}
</style>
<div id='top'>
 <img src="/static/images/topimg1.jpg" width="1000px" height="300px"></a>
 </div>
<br>
<div class="choose">
<ul>
<li id="header">Search </li>

<li><select class="bar">
  <option value="all">Banks</option>
  <option value="ocbc">OCBC</option>
  <option value="dbs">DBS</option>
  <option value="uob">UOB</option>
</select></li>

<li><select class="bar">
  <option value="all">Category</option>
  <option value="shopping">Shopping</option>
  <option value="dining">Dining</option>
  <option value="travel">Travel</option>
  <option value="entertainment">Entertainment</option>
  <option value="interest">Interest payment</option>
</select></li>

<li><select class="bar" >
  <option value="all">Type of card</option>
  <option value="debitcard">Debit Card</option>
  <option value="creditcard">Credit Card</option>

</select></li>
<li><input type="button" value="Search now" id="now"></li>

</ul>
</div>


















{% endblock %}