.onecenter{
   text-align:center;
   width:200px;
}

.btn {
  width:200px;
  height:50px;
  background: #34d9d3;
  background-image: -webkit-linear-gradient(top, #34d9d3, #2980b9);
  background-image: -moz-linear-gradient(top, #34d9d3, #2980b9);
  background-image: -ms-linear-gradient(top, #34d9d3, #2980b9);
  background-image: -o-linear-gradient(top, #34d9d3, #2980b9);
  background-image: linear-gradient(to bottom, #34d9d3, #2980b9);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 7px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #fc563c;
  background-image: -webkit-linear-gradient(top, #fc563c, #d9d934);
  background-image: -moz-linear-gradient(top, #fc563c, #d9d934);
  background-image: -ms-linear-gradient(top, #fc563c, #d9d934);
  background-image: -o-linear-gradient(top, #fc563c, #d9d934);
  background-image: linear-gradient(to bottom, #fc563c, #d9d934);
  text-decoration: none;
}
#bottom{
  margin-left: 400px;
  margin-top: -100px;
  padding:100px;
}

#left{
  margin-top:0px;
  margin-left: 100px;
  }

#top{
  margin-left: 30%;
}
.twocenter{
   padding-bottom: 20px;
   font-weight: bold;
   font-size: 20px;
}


.btn2 {
  background: #eb6c6c;
  background-image: -webkit-linear-gradient(top, #eb6c6c, #e81919);
  background-image: -moz-linear-gradient(top, #eb6c6c, #e81919);
  background-image: -ms-linear-gradient(top, #eb6c6c, #e81919);
  background-image: -o-linear-gradient(top, #eb6c6c, #e81919);
  background-image: linear-gradient(to bottom, #eb6c6c, #e81919);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn2:hover {
  background: #8be0bb;
  background-image: -webkit-linear-gradient(top, #8be0bb, #34d95d);
  background-image: -moz-linear-gradient(top, #8be0bb, #34d95d);
  background-image: -ms-linear-gradient(top, #8be0bb, #34d95d);
  background-image: -o-linear-gradient(top, #8be0bb, #34d95d);
  background-image: linear-gradient(to bottom, #8be0bb, #34d95d);
  text-decoration: none;
}
#show{
    font-size: 30px;
    text-align: center;
}
#bank{
  padding-top: 50px;
}
.onecenter{
  font-size: 30px;
  font-weight: bold;
}
